body {
    font-family: Arial, sans-serif;
    background-color: #c1bb95;
    display: block;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.shoe-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.shoe {
    text-align: center;
    margin-bottom: 20px;
}

.shoe img {
    max-width: 100%;
}

.shoe h3 {
    margin-top: 10px;
}

.shoe p {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}